* {
    box-sizing: border-box;
}

body {
    background-color: #0c5c90;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-top: 10vh;
    margin-bottom: 4vh;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 7px 5px 8px 4px rgb(34 60 80 / 20%);
    background-color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.25s;
}

.button:hover {
    transform: scale(1.05);
}

.controls {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    justify-content: center;
    gap: 15px;
}

.controls__create-field,
.controls__update-field {
    grid-column: 1 / -1;
    display: flex;
    gap: 15px;
}

.text-input {
    display: block;
    flex-grow: 1;
    padding: 5px;
    padding-left: 10px;
}

.color-input {
    display: block;
    height: 100%;
    cursor: pointer;
}

.create-button,
.update-button {
    width: 150px;
}

.cars-page,
.winners-page {
    margin-bottom: 3vw;
}

.cars-title,
.winners-title {
    color: #ffffff;
    font-size: 2rem;
}

.page-title {
    margin: 0;
    margin-bottom: 2vw;
    color: #ffffff;
}

.cars-item {
    margin-bottom: 1vw;
}

.car-options {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 1vw;
}

.car-name {
    color: #ffffff;
    font-weight: 700;
}

.track {
    border-bottom: 3px dashed #ffffff;
}

.car {
    display: block;
    width: 100px;
}

.car svg {
    width: 100%;
}

.garage-pagination,
.winners-pagination {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.table {
    width: 100%;
    color: #ffffff;
    text-align: center;
    border-collapse: collapse;
}

.table__header {
    padding-bottom: 3vw;
    font-size: 1.4rem;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.table__header:last-child {
    border-right: none;
}

.table__cell {
    width: 20%;
    padding: 0 6vw;
    border-right: 1px solid #ffffff;
}

.table__cell:last-child {
    border-right: none;
}
