* {
    box-sizing: border-box;
}

body {
    background-color: #0c5c90;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-top: 10vh;
    margin-bottom: 4vh;
}

.nav__button {
    padding: 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 7px 5px 8px 4px rgb(34 60 80 / 20%);
    background-color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.25s;
}

.nav__button:hover {
    transform: scale(1.05);
}
